cypress/screenshots
cypress/videos
cypress/downloads
cypress/e2e/1-getting-started
cypress/e2e/2-advanced-examples
node_modules
.prettierrc
mochawesome-report*
mochawesome-report/*.html
cypress/videos
cucumber-messages.ndjson
cypress/fixtures/assets
downloads
cypress/reports*
cypress/reports/*.json
